name: unit-tests
on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build

    strategy:
      matrix:
        version: [20.x]
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - uses: unlike-ltd/github-actions/setup-pnpm@74ca078e70cb5bfc9f6c33afc3b63a66f050311f #v1.0.1
        with:
          node-version: ${{ matrix.version }}

      - name: Compile
        run: pnpm run build

      - name: Test
        run: pnpm test:ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        run: pnpm run lint

      - name: Format
        run: pnpm run format:check
